---
import Card from "#components/homepage/Card.astro"
import { Image } from "astro:assets"
import { discordUrl, hyprthemeUrl, projectsUrl } from "#lib/consts"
import hyprthemeIcon from "#assets/icons/hyprtheme.svg"
import FancyTitle from "#components/FancyTitle.astro"
import Button from "#components/Button.astro"
import Layout from "#layouts/Layout.astro"
import Logo from "#assets/logo.svg"
import themeBanner from "#assets/images/hyprtheme_banner.webp"
import projectsBanner from "#assets/images/projects_banner.webp"
import bg from "#assets/images/bg.webp"
import FancyButton from "#components/FancyButton.astro"
import ThemeLogo from "#components/hyprtheme/Logo.astro"
import ProjectCard from "#components/homepage/ProjectCard.astro"
---

<Layout title="Welcome to the Hyprland Community.">
  <main
    class="flex min-h-[max(52rem,calc(100vh-8rem))] w-full min-w-0 flex-col items-center justify-center gap-8 p-4 md:gap-12 md:p-8"
  >
    <img src={Logo.src} alt="Hyprland Community Logo" class="size-80" />

    <FancyTitle
      label="Hyprland Community"
      colors={["#0ee7f6", "#00237a", "#00A2F8"]}
    />

    <p
      class="mb-6 text-center text-lg font-bold text-slate-300 lg:text-xl xl:text-2xl"
    >
      A place where people work together to create awesome things for Hyprland
    </p>

    <FancyButton
      class="z-10"
      label="Join our Discord"
      href={discordUrl}
      type="link"
      newTab={true}
    />

    <div
      class="pointer-events-none absolute inset-x-0 top-0 -z-10 h-[900px] min-h-screen opacity-90 mix-blend-screen"
      aria-hidden="true"
    >
      <Image src={bg} alt="" class="h-full w-full" />
    </div>
  </main>

  <ul
    class="z-20 mx-auto mb-24 grid w-full max-w-screen-3xl grid-cols-1 justify-center gap-4 px-8 lg:gap-5 lg:px-12 xl:grid-cols-6 xl:gap-8"
  >
    <li class="xl:col-span-4">
      <ProjectCard
        project={{
          name: "Hyprtheme",
          description: "Install themes easily",
          url: hyprthemeUrl,
          buttonLabel: "Spice rice",
          logo: hyprthemeIcon.src,
          banner: themeBanner.src,
        }}
      >
        <Button url={hyprthemeUrl} slot="button">Cook rice</Button>
      </ProjectCard>
    </li>
    <li class="col-span-2">
      <ProjectCard
        project={{
          name: "All projects",
          description: "Browse through all our projects",
          url: projectsUrl,
          banner: projectsBanner.src,
        }}
      >
        <Button url={hyprthemeUrl} slot="button">Explore</Button>
      </ProjectCard>
    </li>
  </ul>

  <section
    class="flex h-[50vh] max-h-[45rem] min-h-96 w-full flex-col items-center justify-center gap-8"
  >
    <div class="flex flex-col gap-6">
      <h2 class="text-center text-5xl font-bold">
        Website is still under construction
      </h2>
      <p class="text-center font-medium">
        Stay up to date and join us! Maybe you have ideas of what we can put
        here
      </p>
    </div>

    <FancyButton
      class="z-10"
      label="Join our Discord"
      href={discordUrl}
      type="link"
      newTab={true}
    />
  </section>
</Layout>
