---
import { GET } from "#api/projects.json"
import FancyButton from "#components/FancyButton.astro"
import FancyTitle from "#components/FancyTitle.astro"
import Layout from "#layouts/Layout.astro"
import { githubUrl } from "#lib/consts"
import IconStar from "~icons/mingcute/star-line"

const projects = await GET().then((response) => response.json())
---

<Layout title="Hyprcommunity Projects">
  <main
    class="mx-auto mb-20 flex min-h-screen max-w-screen-lg flex-col items-center justify-center gap-12"
  >
    <header
      class="flex h-[50vh] max-h-[30rem] min-h-max flex-col items-center justify-center gap-20"
    >
      <FancyTitle label="Community Projects" />
      <FancyButton label="Find all on Github" href={githubUrl} type="link" />
    </header>

    <ul class="grid grid-cols-1 gap-8 md:grid-cols-2">
      {
        projects.map((project) => (
          <li class="flex flex-col gap-2 px-6 py-3">
            <h2 class="text-2xl font-bold">
              <a target="_blank" href={project.url}>
                {project.name}
              </a>
            </h2>
            <p class="font-medium text-slate-400">{project.description}</p>

            <div class="">
              <div class="flex justify-between gap-4 text-slate-400">
                {project.maintainers.length > 0 && (
                  <div class="flex flex-col gap-1">
                    <p class="text-sm  font-medium ">Maintainers</p>
                    <ul class="flex flex-wrap gap-4 text-sm font-medium">
                      {project.maintainers.map((maintainer) => (
                        <li class="hover:text-slate-200">
                          <a
                            target="_blank"
                            href={"https://github.com/" + maintainer}
                          >
                            {maintainer}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </div>
                )}
                {project.stars > 0 && (
                  <a
                    href={project.stargazerUrl}
                    target="_blank"
                    class="flex items-center gap-1 font-bold"
                  >
                    <IconStar />
                    {project.stars}
                  </a>
                )}
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </main></Layout
>
