---
import { GET } from "#api/projects.json"
import FancyTitle from "#components/FancyTitle.astro"
import Layout from "#layouts/Layout.astro"
import IconStar from "~icons/mingcute/star-line"

const projects = await GET().then((response) => response.json())
---

<Layout title="Hyprcommunity Projects">
  <main
    class="max-w-screen-lg gap-12 mx-auto flex flex-col items-center justify-center"
  >
    <FancyTitle label="Community Projects" />

    <ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {
        projects.map((project) => (
          <li class="flex flex-col gap-2 px-6 py-3">
            <h2 class="text-xl font-bold">
              <a target="_blank" href={project.url}>
                {project.name}
              </a>
            </h2>
            <p class="font-medium text-slate-400">{project.description}</p>

            <div class="">
              <div class="flex gap-4 text-slate-400 justify-between">
                {project.maintainers.length > 0 && (
                  <div class="gap-1 flex flex-col">
                    <p class="text-sm  font-medium ">Maintainers</p>
                    <ul class="flex gap-4 font-medium text-sm flex-wrap">
                      {project.maintainers.map((maintainer) => (
                        <li class="hover:text-slate-200">
                          <a
                            target="_blank"
                            href={"https://github.com/" + maintainer}
                          >
                            {maintainer}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </div>
                )}
                {project.stars > 0 && (
                  <a
                    href={project.stargazerUrl}
                    target="_blank"
                    class="flex gap-1 font-bold items-center"
                  >
                    <IconStar />
                    {project.stars}
                  </a>
                )}
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </main></Layout
>
