---
import Layout from "./MasterLayout.astro"
import Navbar from "#components/Navbar.astro"
import hyrpthemeIcon from "#assets/icons/hyprtheme.svg"
import IconGithub from "~icons/mdi/github"
import IconDiscord from "~icons/ic/baseline-discord"
import Logo from "#assets/logo.svg"
import { discordUrl, githubUrl, hyprthemeUrl } from "#lib/consts"

const {
  title,
  description = "Easily install themes for Hyprland",
  logoColors,
} = Astro.props
---

<Layout {title} {description} icon={hyrpthemeIcon.src}>
  <Navbar {logoColors}>
    <Fragment slot="logo">
      <div class="grow"></div>
      {
        // <a href={"/"} class="flex items-center gap-4">
        //   <img src={Logo.src} alt="Hyprland Community logo" class="size-10" />
        //   </a>
      }
    </Fragment>

    <Fragment slot="items">
      <li class="flex gap-5 text-base font-bold">
        <a target="_blank" href={hyprthemeUrl}>Hyprtheme</a>
        <a href={"/organization"}>Organization</a>
      </li>

      <li>
        <ul class="flex h-full flex-col gap-8 md:flex-row md:gap-3">
          <li>
            <a target="_blank" href={githubUrl}
              ><IconGithub class="size-10 md:size-8" /></a
            >
          </li>
          <li>
            <a target="_blank" href={discordUrl}
              ><IconDiscord class="size-10 md:size-8" /></a
            >
          </li>
        </ul>
      </li>
    </Fragment>
  </Navbar>

  <!-- Adjust for the navbar -->
  <div class="-mt-8">
    <slot />
  </div>
</Layout>
