---
import Layout from "./MasterLayout.astro"
import Navbar from "#components/Navbar.astro"
import hyrpthemeIcon from "#assets/icons/hyprtheme.svg"
import type { ComponentProps } from "astro/types"
import type { Except } from "type-fest"
import Logo, { type LogoColors } from "#components/hyprtheme/Logo.astro"
import IconGithub from "~icons/mdi/github"
import IconDiscord from "~icons/ic/baseline-discord"
import { discordUrl, githubUrl, hyprthemeUrl } from "#lib/consts"

type Props = Except<ComponentProps<typeof Layout>, "icon"> & {
  logoColors?: LogoColors
}

const {
  title,
  description = "Easily install themes for Hyprland",
  logoColors,
} = Astro.props
---

<Layout {title} {description} icon={hyrpthemeIcon.src}>
  <Navbar {logoColors}>
    <Fragment slot="logo">
      <a href={hyprthemeUrl} class="flex items-center gap-4"
        ><Logo colors={logoColors} class="size-8" />
        <div class="font-bold">Hyprtheme</div>
      </a>
    </Fragment>

    <Fragment slot="items">
      <li>
        <a
          target="_blank"
          href="https://github.com/hyprland-community/hyprtheme#install"
          >Install</a
        >
      </li>

      <li><a href={hyprthemeUrl + "/browse"}>Browse</a></li>

      <li>
        <a
          target="_blank"
          href="https://github.com/hyprland-community/hyprtheme">Docs</a
        >
      </li>

      <li>
        <ul class="flex h-full flex-col gap-8 md:flex-row md:gap-3">
          <li>
            <a target="_blank" href={githubUrl}
              ><IconGithub class="size-10 md:size-8" /></a
            >
          </li>
          <li>
            <a target="_blank" href={discordUrl}
              ><IconDiscord class="size-10 md:size-8" /></a
            >
          </li>
        </ul>
      </li>
    </Fragment>
  </Navbar>

  <!-- Adjust for the navbar -->
  <div class="">
    <slot />
  </div>
</Layout>
