---
import chroma from "chroma-js"
import FancyTitle from "#components/FancyTitle.astro"
import { extractAuthorFromRepoUrl, getTitleColors } from "#lib/helper"
import { GET as getThemes, type ProcessedTheme } from "#api/themes.json"
import { getSimiliarThemes } from "#lib/similiar-themes"
import Layout from "#layouts/Hyprtheme.astro"
import FancyButton from "#components/FancyButton.astro"
import ThemesList from "#components/hyprtheme/ThemesList.astro"

import type { GetStaticPaths } from "astro"

export const getStaticPaths = (async () => {
  const themes: readonly ProcessedTheme[] = await getThemes(Astro).then(
    (response) => response.json(),
  )

  // Explicit typing is nessecary bc otherwise TS throws a fit for some reason
  const paths: {
    params: { name: string }
    props: { theme: ProcessedTheme; similiarThemes: readonly ProcessedTheme[] }
  }[] = await Promise.all(
    themes.map(async (theme) => ({
      params: { name: theme.name },
      props: {
        theme,
        similiarThemes: getSimiliarThemes(theme, themes),
      },
    })),
  )

  return paths
}) satisfies GetStaticPaths

const {
  params,
  props: { theme, similiarThemes },
} = Astro

const titleColors = getTitleColors(theme.colors)
const author = extractAuthorFromRepoUrl(theme.repo)

const mainColors = [titleColors[1], titleColors[0]]
const [gradient1, gradient2] = mainColors.map((color) =>
  chroma.hex(color).hsl()[1] < 0.4 ? `${color}80` : color,
) as [top: string, bottom: string]

const [between1, between2, between3] = chroma
  .scale(mainColors)
  .mode("oklab")
  .correctLightness()
  .colors(3) as [string, string, string]
---

<Layout
  title={params.name + " Theme"}
  description={`Install the ${params.name} Theme with one click`}
  logoColors={{ top: mainColors[1]!, bottom: mainColors[0]! }}
>
  <main
    class="relative z-10 mx-auto flex w-screen max-w-[100vw] flex-col items-center gap-12 overflow-hidden px-0 md:px-8"
  >
    <div
      class="flex max-h-[60rem] min-h-max w-full max-w-screen-xl grid-cols-12 flex-col items-center gap-8 max-sm:my-16 md:grid md:h-[82vh]"
    >
      <div
        class="relative col-span-6 flex w-full max-w-2xl items-center justify-center p-3 md:aspect-square md:rounded-3xl lg:col-span-6"
      >
        <img
          src={theme.images[0]}
          alt={params.name + " image"}
          class="max-h-[35rem] rounded-3xl object-cover shadow-2xl outline outline-white/5 transition-transform hover:scale-[1.01] lg:w-[25rem] xl:w-[35rem]"
        />
        <div class="thumbnail-bg max-md:hidden"></div>
      </div>

      <div
        class="col-span-6 flex flex-col justify-center gap-8 text-center max-sm:items-center md:text-left"
      >
        <div
          class="flex flex-col gap-4 text-lg font-medium text-slate-300 xl:gap-6"
        >
          <FancyTitle
            label={params.name}
            colors={titleColors}
            classes="text-center md:text-left  [overflow-wrap:anywhere]"
            sizeClasses="text-6xl md:text-7xl  xl:text-8xl"
          />
          <p class="font-mono">
            {theme.desc}
          </p>
          <p class="font-mono transition-colors">
            By
            <a
              class="font-bold hover:text-[var(--light)]"
              href={theme.repo}
              target="_blank"
            >
              {author}</a
            >
          </p>
        </div>

        <FancyButton
          label="Apply theme"
          href={"hyprtheme:install+" + encodeURI(params.name)}
          type="link"
          classes="max-w-[20rem] "
          colors={{ light: titleColors[0], middle: titleColors[1] }}
        />
      </div>

      <div class="grainy-bg"></div>
    </div>

    {
      //  Images
    }
    {
      theme.images.length > 1 && (
        <section class="relative mb-24 flex  w-full max-w-screen-3xl grid-cols-2 flex-col items-center  justify-center gap-14 lg:mb-32 lg:grid xl:gap-12  xl:px-12 3xl:grid-cols-3">
          {theme.images.flatMap((image, index) =>
            index === 0 ?
              []
            : <img
                class="more-image w-full  rounded object-contain  "
                src={image}
              />,
          )}
        </section>
      )
    }
  </main>

  <!-- More themes -->
  <section
    class="relative mx-auto mt-6 flex w-full max-w-screen-xl flex-col items-center justify-center gap-16 md:mt-10"
  >
    <FancyTitle label="More themes" colors={titleColors} />
    <ThemesList themes={similiarThemes} />
  </section>
</Layout>

<style
  define:vars={{
    light: titleColors[0],
    middle: titleColors[1],
    dark: titleColors[2],
    between1,
    between2,
    between3,
    gradient1,
    gradient2,
  }}
>
  .thumbnail-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    border-radius: theme(borderRadius.3xl);
    /* background: rgba(0, 0, 0, 0.6); */
    background: radial-gradient(
      circle at 0% 0%,
      var(--light),
      black,
      var(--dark)
    );
    z-index: -1;
    border: 4px solid var(--light);
    opacity: 0.5;
    /* box-shadow:
      inset -40px -64px 80px color-mix(in srgb, var(--middle) 10%, transparent),
      inset 32px 64px 80px color-mix(in srgb, var(--light) 25%, transparent); */
    mix-blend-mode: color-dodge;
  }

  .grainy-bg {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 200%;
    max-width: 2100px;
    translate: -50% -0px;
    height: 100%;
    z-index: -5;
    contain: strict;

    background: url("/grain.webp"),
      radial-gradient(
        circle,
        var(--gradient2),
        var(--gradient1) /* */
          /* var(--light),
                     var(--between3),
                     var(--between2),
                     var(--between1),
                     var(--middle) */
      );
    background-blend-mode: hard-light;
    mask-image: linear-gradient(to top, black 25%, white),
      radial-gradient(ellipse, white 40%, black 70%);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-composite: intersect;
    mask-mode: luminance;
  }

  .more-image {
    box-shadow: 24px 24px 0px theme(colors.black / 50%);
    border: 2px solid rgba(0, 0, 0, 0.4);
  }
</style>
